{% extends "store/store_base.html" %}

{% block main %}
<div class="container">
	<div class="row">
		<div class="col">
			<h1>Iniciar sessão</h1>
			
			<form style="width: 50%" method="post">
				{% csrf_token %}
				{% include 'store/includes/bs4_form.html' with form=form %}
				<button type="submit" class="btn btn-primary">Iniciar sessão</button>
			</form>
		</div>
		<div class="col">
			<h1>Não Tenho Conta</h1>
			<a href="{% url 'register' %}" class="btn btn-primary">Criar Nova Conta</a>
		</div>
	</div>
</div>
{% endblock %}