{% extends "store/store_base.html" %}

{% block main %}
<div class="container">
	<div class="row title-row">
		<h2>Criar nova conta</h2>
	</div>
	
	<form style="width: 50%" method="post">
		{% csrf_token %}
		{% include 'store/includes/bs4_form.html' with form=form %}
		<button type="submit" class="btn btn-primary">Submeter</button>
	</form>
	
	<!-- <form style="width: 50%" action="{% url 'register' %}" method="post">
		{% csrf_token %}
		<div class="form-group">
			<label for="nome">Nome</label>
			<input type="text" class="form-control" name="name" id="nome" value />
		</div>
		<div class="form-group">
			<label for="mail">Endereço de Email</label>
			<input type="email" class="form-control" name="email" id="mail" value />
		</div>
		<div class="form-group">
			<label for="senha">Palavra-Passe</label>
			<input type="text" class="form-control" name="password" id="senha" value />
		</div>
		<div class="form-group">
			<label for="senha2">Confirme a Palavra-Passe</label>
			<input type="text" class="form-control" name="password2" id="senha2" value />
		</div>
			
		<button type="submit" class="btn btn-primary">Submeter</button>
	</form> -->
</div>
{% endblock %}